

section #services {
  padding: 0 0 0 0;
}

section #trips {
  background: gray;
  padding: 0 0 0 0;
}

.cal-img {
  width:75%;
  height: 75%;
}

.cal-img {
  width:95%;
  height: 95%;
}

.pad-top-lg {
  padding: 50px;
}

.read-more-card-pad {
  padding: 50px 20px 0;
}

// section#about{
//   .content-section-heading {
//     padding-top: 25px;
//     padding-bottom: 25px;
//   }
//
//   i.fas {
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
//     display: inline-block;
//     font-style: normal;
//     font-variant: normal;
//     text-rendering: auto;
//     line-height: 1;
//     padding-top: 15px;
//   }
//
//   .service-icon {
//     color: #fff;
//     background: white;
//     height: 12rem;
//     width: 14rem;
//     display: block;
//     line-height: 7.5rem;
//     font-size: 2.25rem;
//     box-shadow: 0 8px 25px 0 rgba(0, 5, 12, 0.1);
//   }
//
// }
//
// .service-icon {
//   // background-color: $white;
//   // color: $primary;
//   // color: $white;
//   // height: 7rem;
//   // width: 7rem;
//   // display: block;
//   // line-height: 7.5rem;
//   // font-size: 2.25rem;
//   // box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
//
//   color: #fff;
//   background: white;
//   height: 12rem;
//   width: 14rem;
//   display: block;
//   line-height: 7.5rem;
//   font-size: 2.25rem;
//   box-shadow: 0 8px 25px 0 rgba(0, 5, 12, 0.1);
// }
